<mat-card>
  <mat-card-title>
    Create a new Todo
  </mat-card-title>
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">

    <div class="todo-edit-component">
        <mat-form-field>
          <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <button mat-raised-button color="accent" type="submit" [disabled]="!todoForm.valid">Creation</button>
  </form>
</mat-card>



